# Project exclude paths
/.gradle/
/Encryption-Decryption/task/build/
/Encryption-Decryption/task/out/
/Encryption-Decryption/task/out/production/classes/
/Topics/Polymorphism/Find mistake/out/
/Topics/Polymorphism/Find mistake/out/production/classes/